.main {
  padding-left: 0;
  padding-right: 0;
}

.quote {
  font-style: italic;
  font-weight: bold;
}

.article-grid {
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  gap: 50px;
  padding: 60px 50px;
  margin-left: 35px;
  width: 85%;
  justify-items: center;
  box-sizing: border-box;
  align-items: center;
}

.grid {
  background-color: #cacaf7;
  border-radius: 5px;
  padding: 25px 25px;
  box-shadow: 5px 10px #606097;
}

.bio {
  display: inline-grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-rows: auto;
  /* gap: 50px; */
  /* justify-items: center; */
  align-items: center;
  padding: 60px 30px;
  margin-left: 40px;
  width: 30%;
}

.pic {
  border-radius: 100%;
  width: 325px;
}

.bio-about {
  display: block;
  width: 85%;
  text-align: justify;
  margin-left: 80px;
  padding: 40px 20px;
}

.social-icons {
  color: white;
  background: #225;
  height: 100px;
  text-align: center;
  padding-bottom: 50px;
  padding-right: 50px;
  width: 100%;
}

.social-icons li,
i {
  color: white;
  display: inline-block;
  padding-bottom: 20px;
}

.social-icons i {
  padding-left: 10px;
}

/* Media Queries */

@media (max-width: 330px) {
  .article-grid {
    margin: 0 5px;
    padding: 30px 5px;
  }

  .bio {
    gap: 15px;
    padding: 20px 20px;
    margin-left: 10px;
    width: 80%;
  }

  .pic {
    width: 150px;
  }

  .bio-about {
    padding: 20px 15px;
    margin-left: 15px;
  }

  .blog-post {
    font-size: medium;
  }
}

@media (min-width: 331px) and (max-width: 480px) {
  .bio {
    display: grid;
    gap: 20px;
    padding: 30px 10px;
    margin-left: 5px;
    width: 80%;
  }

  .pic {
    width: 200px;
  }

  .bio-about {
    padding: 20px 15px;
    margin-left: 15px;
  }

  .article-grid {
    padding: 60px 25px;
    margin-left: 10px;
    width: 85%;
  }
}
